.page-header{
    padding: 1%;
    background-color: #050A21;
}

nav{
    border-top:2px solid white;
    border-bottom:3px solid white;
}

.page-header-title{
    color: rgb(221, 221, 221);
}

.page-header-text{
    color: rgb(163, 163, 163);
}

p{
    color: rgb(221, 221, 221);
}